# Установка кодировки ответа
AddDefaultCharset UTF-8

# Включаем RewriteEngine
RewriteEngine On

# Защищаем директории от индексации
Options -Indexes

# Направление всех запросов кроме к /public/ на index.php
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule .* index.php [L]
